
.toolbar-large{
	.document-new a:before{content:url("icons/48/document-new.svg");}
	.document-save a:before{content:url("icons/48/document-save.svg");}
	.edit-undo a:before{content:url("icons/48/edit-undo.svg");}
	.edit-delete a:before{content:url("icons/48/edit-delete.svg");}
	.edit-edit a:before{content:url("icons/48/edit-edit.svg");}
	.edit-copy a:before{content:url("icons/48/edit-copy.svg");}
	.edit-pointer a:before{content:url("icons/48/edit-select.svg");}
}

/* Can't work out how to scale the SVG images. D: */
.toolbar-small{
	.document-new a:before{content:url("icons/22/document-new.png");}
	.document-save a:before{content:url("icons/22/document-save.png");}
	.edit-undo a:before{content:url("icons/22/edit-undo.png");}
	.edit-delete a:before{content:url("icons/22/edit-delete.png");}
	.edit-edit a:before{content:url("icons/22/edit-edit.png");}
	.edit-copy a:before{content:url("icons/22/edit-copy.png");}
	.edit-pointer a:before{content:url("icons/22/edit-select.png");}
}


.toolbar{
	&{
		.toolbar-gradient;
		overflow:hidden;
		.border-radius(@borderRadius);
	}
	
	li{
		display:inline-block;
		position:relative;
	}
	
	a{
		float:left;
		display:block;
		text-align:center;
		position:relative;
		border:1px solid rgba(0,0,0,0);
		text-decoration:none;
		color:ButtonText;
	}
	a:before{
		content: "";
		display:block;
		position:absolute;
		opacity:.8;
	}
	a:hover,
	a:focus,
	a:active{
		background:@highlightBackground;
		color:@textColor;
		border:1px solid @highlightBorder;
	}
	
	a:hover:before,
	a:focus:before,
	a:active:before{
		opacity:1;
	}
	
	a:active{
		border-color: @highlightBorder;
	}
	
	a:active:before{
		margin:1px 0 0 1px;
	}
		
	/**
	 * Place a divider after this element.
	 */
	.divider-after{
		a{
			margin-right:30px;
		}
	
		&:after{
			content:" ";
			display:block;
			height:100%;
			width:1px;
			background:@gradientDark;
			border-right:1px solid @gradientLight;
			position:absolute;
			top:0;
			right: 13px;
		}
	}
	
	

	&.toolbar-small{
		
		&{
			padding:2px;
		}
		a{
			padding:2px 2px 2px 28px;
			line-height:24px;
		}
		a:before{
			width:24px;
			height:24px;
			left:2px;
			top:50%;
			margin-top:-12px;
		}
		

	}

	&.toolbar-large{

		&{
			padding:5px;
		}
		
		a{
			padding:55px 8px 5px;
			min-width:50px;
		}
		a:before{
			left:50%;
			margin-left:-24px;
			top:5px;
			width:48px;
			height:48px;
		}

	}
}
